/* nav */

nav {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

button {
    float: right;
    color: #777;
    font-size: 0.90em;
    font-family: monospace;
    margin: 5px;
}

/* font */
/* @font-face {
    font-family: "iA Writer Duo";
    src: url("font/iAWriterDuoV.ttf");
} */

/* global */

body {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    max-width: 1000px;
}

body.dark-mode {
    background-color: black;
    color: seashell;
}

hr {
    border-top: 1px solid #bbb;
    margin-right: 85%;
}


/* contact */

#contact {
    /* margin-right: 5%; */
    margin: auto;
}

#contact h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1.10em;
}

#contact h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1.00em;
}

#contact hr {
    border-top: 1px solid #bbb;
    width: 15%;
    margin: auto;
}


/* sections */

#sections h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 1.20em;
}

#sections h2 {
    font-size: 1.15em;
    margin-left: 3%;
}

#sections h3 {
    font-size: 1.10em;
    font-style: italic;
    font-weight: bolder;
    margin-left: 3%;
    line-height: 60%;
}

#sections p {
    font-family: "Times New Roman", serif;
    font-size: 1.00em;
    margin-left: 5%;
    margin-right: 5%;
}

#sections ul {
    font-size: 1.10em;
    margin-left: 2%;
    margin-right: 5%;
}

@media print {
    .new-page {
        page-break-before: always;
    }
}