/* nav */

nav {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

button {
    float: right;
    color: #777;
    font-size: 1.25vh;
    font-family: monospace;
    margin: 5px;
}


/* global */

body {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    max-width: 1000px;
}

body.dark-mode {
    background-color: black;
    color: seashell;
}

hr {
    border-top: 1px solid #bbb;
    margin-right: 85%;
}


/* contact */

#contact {
    /* margin-right: 5%; */
    margin: auto;
}

#contact h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2vh;
}

#contact h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5vh;
}

#contact hr {
    border-top: 1px solid #bbb;
    width: 15%;
    margin: auto;
}


/* sections */

#sections h1 {
    font-family: sans-serif;
    font-size: 2vh;
}

#sections h2 {
    font-size: 1.75vh;
    margin-left: 7.5%;
}

#sections h3 {
    font-size: 1.5vh;
    font-style: italic;
    font-weight: bolder;
    margin-left: 7.5%;
    line-height: 60%;
}

#sections p {
    font-family: serif;
    font-size: 1.33vh;
    margin-left: 10%;
    margin-right: 15%;
}

#sections ul {
    font-size: 1.5vh;
    margin-left: 5%;
    margin-right: 15%;
}

@media print {
    .new-page {
        page-break-before: always;
    }
}